{% extends 'admin_dashboard/base/base_page.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('doctor_list') }}
{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <section class="section">
            <div class="title-and-button">
                <span class="title">Doctors List</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
{#                {% if is_granted('ROLE_ADD_NEW_DOCTOR') %}#}
                <a class="contact-button" href="{{path('add_new_doctor')}}">
                    <i class="fa fas fa-plus contact-button__icon"></i>
                </a>
{#                {% endif %}#}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success pt-1 pb-1 pr-2 pl-2 m-0" role="alert" data-mdb-color="success">
                        <i class="fas fa-check-circle me-3"></i>{{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-2 body-content">
                <div class="card">
                    <div class="card-body">
                        <div class="card-datatable table-responsive pt-0 m-2">
                            <table class="datatables-basic table table-hover border-bottom" id="table_doctors_list">
                                <thead>
                                <tr class="text text-al">
                                    <th class="col-md-3">Name</th>
                                    <th class="col-md-3">Specialization</th>
                                    <th class="col-md-2 text-center">Contact Number</th>
                                    <th class="col-md-2">Email</th>
                                    <th class="col-md-1">IsActive</th>
                                    <th class="col-md-1 text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock page_content %}

{% block javascripts %}
    {{ encore_entry_script_tags('doctor_list') }}
    <script>
        let ajax_get_doctor_list = "{{ path('ajax_get_doctor_list') }}"
        let ajax_delete_doctor_info = "{{ path('ajax_delete_doctor_info') }}"
        let ajax_change_doctor_active_status = "{{ path('ajax_change_doctor_active_status') }}"
    </script>
{% endblock %}
