<div class="modal" id="dataModalPasswordReset" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true"
     data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close-password-reset-modal float-end" data-dismiss="modal"
                    aria-label="Close"
                    style="background: none;border: none">
                <span aria-hidden="true" style="color: red;float: right">×</span>
            </button>
            <form id="#dataFormPasswordReset">
                <div class="modal-body m-5 mt-0 pt-0">
                    <div class="notification-icon text-center">
                        <img src="{{ asset('havelock-city/resetPassword.png') }}" alt="password reset"
                             style="width: 50%"/>
                    </div>
                    <div class="warning-msg text-danger mt-3 password-reset-warning-message text-center"></div>
                    <div class="warning-msg text-success mt-3 password-reset-success-message text-center"></div>
                    {% if formResetPassword is defined %}
                        {{ form_start(formResetPassword) }}
                        {{ form_errors(formResetPassword) }}
                        <div class="col col-md-12 mt-3">
                            <label for="FormControlInputCode"
                                   class="form-label">{{ form_label(formResetPassword.oldPassword) }}</label><span><small
                                        class="text-warning">*</small></span>
                            {{ form_widget(formResetPassword.oldPassword, {'attr':{'class':"form-control"}}) }}
                            <div class="form-error">
                                {{ form_errors(formResetPassword.oldPassword) }}
                            </div>
                        </div>
                        {% for password in formResetPassword.password %}
                            <div class="col col-md-12 mt-3">
                                <label for="FormControlInputCode"
                                       class="form-label">{{ form_label(password) }}</label><span><small
                                            class="text-warning">*</small></span>
                                {{ form_widget(password, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(password) }}
                                </div>
                            </div>
                        {% endfor %}
                        {{ form_end(formResetPassword) }}
                        <div class="mt-4">
                            <button type="button" class="btn btn-submit float-end save-password-btn">Save</button>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>


