{% extends 'admin_dashboard/base/base_page.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('patient_profile') }}
{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <section class="section">
            <span class="title">Edit Personal Info</span>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success pt-1 pb-1 pr-2 pl-2 m-0" role="alert" data-mdb-color="success">
                    <i class="fas fa-check-circle me-3"></i>{{ message }}
                </div>
            {% endfor %}

            <div class="row mt-2 body-content">
                {{ form_start(formUser) }}
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col col-md-6">
                                <label for="name" class="form-label">First Name</label><span><small
                                            class="text-warning">*</small></span>
                                {{ form_widget(formUser.firstName, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(formUser.firstName) }}
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <label for="code" class="form-label">Last Name</label><span><small
                                            class="text-warning">*</small></span>
                                {{ form_widget(formUser.lastName, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(formUser.lastName) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-md-6">
                                <label for="code" class="form-label">Date Of Birth</label>
                                {{ form_widget(formUser.dob, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(formUser.dob) }}
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <label for="code" class="form-label">Gender</label><span><small
                                            class="text-warning">*</small></span>
                                {{ form_widget(formUser.gender, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(formUser.gender) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-md-6">
                                <label for="code" class="form-label">NIC</label><span><small
                                            class="text-warning">*</small></span>
                                {{ form_widget(formUser.nic, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(formUser.nic) }}
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <label for="code" class="form-label">Contact No</label><span><small
                                            class="text-warning">*</small></span>
                                {{ form_widget(formUser.contactNumber, {'attr':{'class':"form-control"}}) }}
                                <div class="form-error">
                                    {{ form_errors(formUser.contactNumber) }}
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <label for="isActive" class="form-label">Email</label><span><small
                                        class="text-warning">*</small></span>
                            {{ form_widget(formUser.email, {'attr':{'class':"form-control"}}) }}
                            <div class="form-error">
                                {{ form_errors(formUser.email) }}
                            </div>
                        </div>
                        <div class="row">
                            {% for password in formUser.password %}
                                <div class="col col-md-6 mt-3">
                                    <label for="FormControlInputCode"
                                           class="form-label">{{ form_label(password) }}</label><span><small
                                                class="text-warning">*</small></span>
                                    {{ form_widget(password, {'attr':{'class':"form-control"}}) }}
                                    <div class="form-error">
                                        {{ form_errors(password) }}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="wrap mt-4">
                                {{ form_widget(formUser.submit, {'label': 'Save', 'attr':{'class':'btn btn-submit float-end'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(formUser) }}
                </div>
            </div>
        </section>
    </div>
{% endblock page_content %}

    {% block javascripts %}
        {{ encore_entry_script_tags('patient_profile') }}
    {% endblock %}
