{% extends 'admin_dashboard/base/base_page.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('test_view') }}
{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <section class="section">
            <div class="title-and-button">
                <span class="title">Test Results OverView</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success pt-1 pb-1 pr-2 pl-2 m-0" role="alert" data-mdb-color="success">
                        <i class="fas fa-check-circle me-3"></i>{{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-2 body-content">
                <div class="card">
                    <div class="card-body">
                        <div class="card-datatable table-responsive pt-0 m-2">
                            <table class="datatables-basic table table-hover border-bottom" id="table_test_results_view_overall">
                                <thead>
                                <tr class="text text-al">
                                    <th class="col-md-3">Appointment Ref</th>
                                    <th class="col-md-2">Contact No</th>
                                    <th class="col-md-2">Patient Name</th>
                                    <th class="col-md-3">Test Name</th>
                                    <th class="col-md-1">Ready To Collect On</th>
                                    <th class="col-md-1">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock page_content %}

{% block javascripts %}
    {{ encore_entry_script_tags('test_view') }}
    <script>
        let ajax_get_patient_test_result = "{{ path('ajax_get_test_results') }}"
        let upload_test_report = "{{ path('upload_test_report') }}"
    </script>
{% endblock %}
